.buy-hero{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1; 
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 2px 3px #000000;
    line-height: 2;
    /* max-width: 50%; */
}
.buy-btn{
    width: 100%;
    border-radius: 5px;
    background-color:#7C20BF ;
    color: white;
}
.buy-hero h2{
   text-align: center;

}
select{
    width: 100%;
    border-radius: 5px;
}
.buy-hero a{
    text-decoration: none;
    color: #000000;

}
.buy-btn1.hover{
    background-color: white;
}
.buy-btn1{
    width: 50%;
    padding: 5px;
}
@media only screen and (min-width: 768px){
    
    .buy-hero{
      margin: 2rem auto;
      width: 50%;
      
      
    }
}