.hero{
    background-color: #561088;
    color: white;
    height: 70vh;
    font-weight: 400;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 300%;
}
h1{
    width: 35%;
}
p{
    width: 65%;
    font-size: 15px;
}
.hero button{
    /* width: 100px; */
    border: none;
    color: #561088;
    font-size: 15px;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}
.hero img{
    width:100px ;
    margin-right: 10px;
}

@media only screen and (max-width: 768px){
    .hero{
        line-height: 200%;
        font-weight: 100;
        font-size: 15px;
    }
    h1{
        width: 100%;
    }
    .hero button{
        width: 100px;
    }
    .hero img{
        width:100px ;
        margin-right: 10px;
    }
    
}
