.Navbar {
    background-color: #561088;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  
  .Navbar__Link {
    padding-right: 1rem;
    /* margin: auto; */
    /* border: 1px solid black; */
    /* width: 19px; */
    
  }

  
  .nav-items{
    color: white;
    text-decoration: none;
  }

  .nav-items:hover{
    /* color: rgb(38, 22, 154); */
    text-decoration: none;
  }
  
  .nav-items-right{
    background-color: transparent;
    color: white;
  }

  .nav-items-right:hover{
    background-color: white;
    color: rgb(38, 22, 154);
  }

  .nav-items-left{
    color: #561088;
  }

  .nav-items-left:hover{
    background-color: transparent;
    color: white;
  }

  button{
    width: 100px;
    padding: 10px 0;
    border: 1px solid white;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    
  }
   
  .Navbar__Link-toggle {
    display: none;
  }
  .mobile__Items{
    display: none;
  }
  @media only screen and (max-width: 650px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
    .mobile__Items{
      display: block;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .Navbar__Link {
      padding-top: 1em;
      /* margin: auto;
      border: 1px solid black;
      width: 19px; */
     
    }
      
  .Navbar__Items {
      display:none;
      /* background-color: #875ea360; */
    }
    .Navbar__Items--right {
      margin-left:0;
    }
      
   
  .Navbar__ToggleShow {
      display: flex;
    }
      
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      top: 25px;
      cursor: pointer;
     } 
  
     
  }